.sidebar {
  min-height: 100vh;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f0f4f9;
}
.sidebar img {
  width: 20px;
  cursor: pointer;
}
.sidebar .menu {
  display: block;
  cursor: pointer;
  margin-left: 18px;
  padding-top: 20px;
}
.sidebar .new-chat {
  margin-top: 50px;
  display: inline-flex;
  gap: 15px;
  background-color: #e6eaf1;
  border-radius: 50px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 15px;
    padding-bottom: 10px;
  font-size: 14px;
  color: gray;
  cursor: pointer;
}
.sidebar .recent {
  display: flex;
  flex-direction: column;
}
.recent-title {
  margin-top: 30px;
  margin-bottom: 20px;
}
.recent-entry {
  display: flex;
  align-items: start;
  text-align: center;
  padding-top: 10px;
  padding-left: 10px;
  gap: 10px;

  border-radius: 50px;
  color: #282828;
  cursor: pointer;
}
.sidebar .recent-entry:hover {
  background-color: #e2e6eb;
}
.sidebar .bottom {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.sidebar .bottom-item {
  padding-right: 10px;
  cursor: pointer;
}
